.Transfers-body {
  margin-left: 20px;
}

.Transfer-table {
  table-layout: fixed ;
  margin-bottom: 20px;
  width:  95% ;
  text-align: left;
  border-collapse: collapse;
}

.Transfer-tr {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

tbody .Transfer-tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.Transfer-th {
  font-weight: normal;
  font-size: 16px;
  padding: 6px;
  border-bottom: 1px solid lightgray;
}

.Transfer-td {
  font-size: 14px;
  padding: 6px;
  width: 16.67%;
  border-bottom: 1px solid lightgray;
}

.TransfersAddNew {
  text-align: left;
  width: 90%;
  margin-bottom: 10px;
}

@media (max-width:640px) {

  .Transfer-th {
    font-size: 15px;
  }

	.account {
		display: none;
	}
}
