.TableView-table {
  table-layout: fixed;
  margin-bottom: 20px;
  width: 95%;
  text-align: left;
  border-collapse: collapse;
}

.TableView-tr {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

tbody .TableView-tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.TableView-th {
  font-weight: normal;
  font-size: 16px;
  padding: 6px;
  border-bottom: 1px solid lightgray;
}

.TableView-td {
  font-size: 14px;
  padding: 6px;
  width: 16.67%;
  border-bottom: 1px solid lightgray;
}

@media (max-width: 640px) {
  .TableView-th {
    font-size: 15px;
  }

  .account {
    display: none;
  }
}
