.Portfolio {
  margin-left: 20px;
  margin-top: 20px;
  width: 750px;
}

.CostBasisCard {
  display: flex;
  width: 100%;
  border: solid 1px black;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.CostBasisCard > div:nth-child(1) {
  display: block;
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  text-align: center;
}
.CostBasisCard > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.CostBasisCard > div:nth-child(2) > .FieldValue {
  width: 20%;
  display: block;
}

.CostBasisCard > div:nth-child(2) > .FieldValue > div:first-child {
  font-size: 10px;
}