.Portfolio {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 850px;
}

.Title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Title button {
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
}