.Positions {

}

.Positions-body {
  margin-left: 20px;
}

.Position-table {
  table-layout: fixed ;
  margin-bottom: 20px;
  width: 100% ;
  text-align: left;
}

.Position-tr {
  width: 100%;
}

.Position-th {
  font-weight: bold;
}

.Position-td {
  width: 25%;
}

.Position-td input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
}

.Position-td input:focus {
  outline: none;
}
