.App {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.App-header {
  font-weight: bold;
  height: 40px;
  width: 100%;
  background-color: #05386b;
  flex-grow: 0;
}

.App-header > div {
  margin-left: 10px;
  font-size: 24px;
  color: white;
  vertical-align: middle;
  margin-top: 3px;
}

.App-name {
  font-family: "Unica One", sans-serif;
}

.appToolbar,
.appToolbarClosed {
  height: calc(100% - 40px);
  width: 120px;
  overflow-x: hidden;
}

.appView,
.appViewClosed {
  height: calc(100% - 40px);
  overflow-y: auto;
  width: calc(100% - 120px);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.toolbarButton {
  display: none;
}

@media (max-width: 640px) {
  .appToolbar {
    width: 100%;
    z-index: 999;
  }

  .appToolbarClosed {
    display: none;
  }

  .appView {
    height: calc(100% - 40px);
    overflow-y: auto;
    width: 100%;
  }

  .appViewClosed {
    display: none;
  }

  .toolbarButton {
    display: inline;
    background-color: #05386b;
    border: 0;
    color: white;
  }

  .toolbarButton:active {
    border: 0;
  }
}
