.CorporateActions-body {
  margin-left: 20px;
}

.CorporateActionsAddNew {
  text-align: left;
  width: 90%;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .account {
    display: none;
  }
}
