.TransferForms {
  margin: 20px;
}

.entry-row {
  display: flex;
  width: 100%;
}

.entry {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.entry label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.TransferForms input {
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  width: 150px;
}

.TransferForms select {
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  -webkit-appearance: none !important;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#select-account {
  width: 325px;
}

#select-type {
  width: 150px;
}

.TransferForms input:focus, select:focus {
  outline: none;
}
