.Dashboard {

}

.Dashboard-body {
  margin-left: 20px;
}

.Dashboard-table {
  table-layout: fixed ;
  margin-bottom: 20px;
  width: 90% ;
  text-align: left;
  border-collapse: collapse;
}

.Dashboard-tr {
  width: 100%;
}

tbody .Dashboard-tr:hover {
  background-color: #f0f0f0;
}

.Dashboard-th {
  font-weight: normal;
  padding: 6px;
  font-size: 16px;
  border-bottom: 1px solid lightgray;
}

.Dashboard-td {
  width: 20%;
  padding: 6px;
  font-size: 14px;
  border-bottom: 1px solid lightgray;
}
